body {background-color: #ff8332;}
#buttons {width: 1024px;}
#but {width: 400px;}
#but { text-align:center;}
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
body {text-align:center;}
p {text-align:center;}
#hunter-pic { float: left;
            margin-right: 6px;
  margin-bottom: 6px;}
