body {background-color: #ff8332;}
#buttons {width: 1024px;}
#but {width: 250px; text-align:center;}
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
h4 {text-align:center;}
p {text-align:center;}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
